/* why cant I change the selector from body
to another class to remove gap between
header and introduction? */

body {
    padding: 0 !important; 
}

.header {
    font-family: "Consolas", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    background-color: #1C1678;
    border-bottom: 1px solid #A3FFD6;
}

.header-glow a:hover {
    text-shadow: 2px 15px 10px #7BC9FF;
}

.mr-3 {
    margin-right: 10px;
}

.github-button {
    border-radius: 40%;
    background-color: black;
    color: #A3FFD6;
    border: none;
    height: 39px;
    font-size: 1.1rem;
    transition-delay: 0ms;
}

.card-cover {
    border: outset #A3FFD6;
}

a {
    color: inherit;
}

.navbar { 
   color: #A3FFD6;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.font-deco {
    font-weight: bold;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.body-background {
    margin-top: 0;
    padding-top: 0;
    height: 100vh;
    width: 100%;
}

.project-background {
    margin-top: 0;
    padding-top: 0;
    height: 50vh;
    width: 100%;
    display: block;
    justify-content: space-between;
}

.overlay-container {
    position: relative;
}

.text-underline {
    text-transform: underline;
}

.overlay-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #A3FFD6;
    text-align: center;
}

h1, h3 {
    font-family: "Consolas";
    font-weight: 500;
    text-shadow: 1px 1px 1px black;
}

ul {
    text-align: center;
    list-style-type: none;
}

.gradient-background {
	background: linear-gradient(-90deg,#7BC9FF, #A3FFD6);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 990px) {
    .overlay-content {
        padding-top: 200px;
    }
    .header {
        margin-left: auto;
    }
    .overlay-container > img {
        height: 100vh;
    }
  }


/* below has been copied, how do i recreate?*/

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #A3FFD6;
    border-right: 2px solid #A3FFD6;
    color: #A3FFD6;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 3s ease-in-out infinite;
    -moz-animation:    fade_move_down 3s ease-in-out infinite;
    animation:         fade_move_down 3s ease-in-out infinite;
  }
  
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }

